@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Playfair+Display:ital@1&family=Poppins:wght@300;400;600;700&display=swap');


/* general variables */
:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --red: #b80f0f;
    --yellow: #ffd166;
    --green: #1a9b21;
    --light-green: #5adb61f9;
    --orange: #db6400;
    --deep-orange: #ff8c00;
    --light-orange: #ff8c008b;
    --grey: #eee;
    --dark-grey: #393f49;
}

body {
    font-family: 'Playfair Display', sans-serif;
    background: var(--white);
    color: var(--black);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--black);
    margin-top: 60px;
}

.body-wrapper {
    display: block;
    overflow: scroll;
    margin-bottom: 5rem;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

}

.department-badge {
    color: var(--black);
    border: var(--deep-orange);
    background: var(--white);
    border: 1px solid var(--green);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 10px 10px;
    margin-left: 2rem;
    margin-right: 1rem;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

}

.page-title {
    text-decoration: underline;
    font-weight: bold;
}

.page-guide {
    font-size: 0.9rem;
}

/* navbar */

#navbar {
    height: 60px;
    border-bottom: 0.1px solid var(--grey);
    z-index: 999;
    background: var(--white);
}

.active {
    color: var(--orange) !important;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: fill;
    margin: 0 auto;
    display: block;
}


/* error page */
.error-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






/* footer */

#footer {
    color: var(--black);
    border-top: 0.1px solid var(--grey);
    background: var(--grey);
    height: 80px;
    display: block;
}



/* form */

.form-wrapper {
    background: var(--grey);
    padding: 5rem 10rem;
    border-radius: 0.7rem;
}

.form-icon {
    font-size: 2.5rem;
    color: var(--green);
    background: var(--yellow);
    padding: 0.5rem;
    border-radius: 20%;
}

#tripPurposeInput {
    height: 120px;
    width: 300px
}

.formInput {
    border: 0.1px solid var(--deep-orange);
    border-radius: 0.3rem;
    height: 2.5rem;
    width: 20rem;
    font-size: 0.7rem;
    padding-left: 0.5rem;
}

.requestformInput {
    margin-left: 1rem;
    border: 0.1px solid var(--deep-orange);
    border-radius: 0.3rem;
    height: 2rem;
    width: 10rem;
    font-size: 0.7rem;
    padding-left: 0.5rem;
}

.form-text {
    font-size: 0.7rem;
}

.submit-btn-wrapper {
    display: flex;
    justify-content: center;
}

.submit-btn-orange {
    background: var(--orange);
    color: var(--white);
}

.submit-btn-orange:hover {
    background: var(--green);
    color: var(--white);
}

.submit-btn-green {
    background: var(--green);
    color: var(--white);
}

.submit-btn-green:hover {
    background: var(--orange);
    color: var(--white);
}

/* Register */

.registerInputCluster {
    margin-right: 1rem;
}


/* Exeat */
.profile-picture {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    object-fit: fill;
    margin-right: 1rem;

}

.exeat {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}

.time-title {
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}


/* Vehicles Page */
.vehicle-status-menu {
    margin-right: 2rem;
    background: var(--grey);
    color: var(--black);
    border: 1px solid var(--green);
    border-radius: 0.3rem;
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
}

.vehicles-table {}


.table-content {}

.vehicle-status-available {
    background: var(--green);
    width: 500px;
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;

}

.vehicle-status-unavailable {
    background: var(--orange);
    width: 500px;
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;


}

.vehicle-info {
    font-size: 0.75rem;
    color: var(--dark-grey);
    width: 20%;
    align-items: center;
}

/* Security Page */
.timeOut-btn {
    background: var(--orange);
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;
}

.timeOut-btn:hover {
    background: var(--orange);
    color: var(--dark-grey);
}

.timeIn-btn {
    background: var(--green);
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;
}

.timeIn-btn:hover {
    background: var(--green);
    color: var(--yellow);
}

.timeIn-btn-disabled {
    background: var(--green);
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;
    disabled: true;
    opacity: 0.5;
}

/* manage Exeat */
.exeat-info {
    font-size: 0.75rem;
    color: var(--dark-grey);
    align-items: center;
}

.resolve-btn {
    background: rgb(219, 100, 0);
    background: linear-gradient(90deg, rgba(219, 100, 0, 1) 40%, rgba(7, 11, 1, 0.8183648459383753) 60%);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;
    color: var(--white);
}