@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


/* general variables */
:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --red: #b80f0f;
    --yellow: #ffd166;
    --green: #1a9b21;
    --light-green: #5adb61f9;
    --orange: #db6400;
    --deep-orange: #ff8c00;
    --light-orange: #ff8c008b;
    --grey: #eee;
    --dark-grey: #393f49;
}

body {
    font-family: "Lora", serif;
    background: var(--white);
    color: var(--black);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--black);
    min-height: 100%;
    margin-top: 60px;
    margin-bottom: 100px;

}

.body-wrapper {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 5rem;

}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

}



.page-title {
    text-decoration: underline;
    font-weight: bold;
    margin-top: 3rem;
    color: var(--black);
}

.page-guide {
    font-size: 0.9rem;
}

/* navbar */


#navbar {
    height: 4rem;
    border-bottom: 0.1px solid var(--grey);
    z-index: 999;
    background: var(--white);
}

.active {
    color: var(--orange) !important;
}

#logo {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    object-fit: fill;
    margin: 0 auto;
    display: block;
    margin-top: 4rem;
}

.nav_toggle_btn {
    display: none;
}

.department-badge {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--green);
    border-radius: 0.5rem;
    font-size: 0.7rem;
    padding: 10px 10px;
    margin-right: 1rem;
    height: 2.3rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

/* .department-badge {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--green);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 10px 10px;
    margin-left: 2rem;
    margin-right: 1rem;
    height: 35px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
} */

/* error page */
.error-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






/* footer */

.footer {

    background: var(--white);
    border-top: 0.1px solid var(--grey);
    padding: 1rem;
}

footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 250px);
    /* Adjust for sidebar width */
    left: 250px;
    /* Position it next to the sidebar */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--deep-orange);
}



/* form */
#loginPage {
    height: 100%;
    overflow-y: hidden;
}

.form-wrapper {
    background: var(--grey);
    padding: 5rem 10rem;
    border-radius: 0.7rem;
}

.form-icon {
    font-size: 2.5rem;
    color: var(--green);
    background: var(--yellow);
    padding: 0.5rem;
    border-radius: 20%;
}

#tripPurposeInput {
    height: 120px;
    width: 300px
}

.formInput {
    border: 0.1px solid var(--deep-orange);
    border-radius: 0.3rem;
    height: 2.5rem;
    width: 20rem;
    font-size: 0.7rem;
    padding-left: 0.5rem;
    margin-top: 1rem;
}

.requestformInput {
    margin-left: 1rem;
    border: 0.1px solid var(--deep-orange);
    border-radius: 0.3rem;
    height: 2rem;
    width: 10rem;
    font-size: 0.7rem;
    padding-left: 0.5rem;
}

.form-text {
    font-size: 0.7rem;
}

.submit-btn-wrapper {
    display: flex;
    justify-content: center;
}

.submit-btn-orange {
    background: var(--orange);
    color: var(--white);
    margin-top: 1.5rem;
}

.submit-btn-orange:hover {
    background: var(--green);
    color: var(--white);
}

.submit-btn-green {
    background: var(--green);
    color: var(--white);
    margin-top: 1.5rem;
}

.submit-btn-green:hover {
    background: var(--orange);
    color: var(--white);
}

.error-message {
    color: var(--red);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-top: 0.1rem;
    font-size: 10px;
}

.error-notification {
    z-index: 9999999999;
    position: absolute;
    top: 20vh;
    right: 15vw;
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background: var(--red);
    font-size: 0.7rem;
}



#badgeNotification {
    display: none;
}

/* Register */

.register-vehicle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


/* Exeat */
.profile-picture {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    object-fit: fill;
    margin-right: 1rem;
}



.time-title {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}


/* Vehicles Page */
.vehicle-status-menu {
    margin-right: 2rem;
    background: var(--grey);
    color: var(--black);
    border: 1px solid var(--green);
    border-radius: 0.3rem;
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
}


.vehicle-status-available {
    background: var(--green);
    width: 500px;
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;

}

.vehicle-status-unavailable {
    background: var(--orange);
    width: 500px;
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;


}

.vehicle-info {
    font-size: 0.75rem;
    color: var(--dark-grey);
    width: 20%;
    align-items: center;
}

.vehicle-filter:hover {
    background: #7c858cb8;
    color: var(--white);
    cursor: pointer;
}


/* Security Page */
.timeOut-btn {
    background: var(--orange);
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;
}

.timeOut-btn:hover {
    background: var(--orange);
    color: var(--dark-grey);
}

.timeIn-btn {
    background: var(--green);
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;
}

.timeIn-btn:hover {
    background: var(--green);
    color: var(--yellow);
}

.timeIn-btn-disabled {
    background: var(--green);
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;
    opacity: 0.5;
}

/* manage Exeat */
.exeat-info {
    font-size: 0.75rem;
    color: var(--dark-grey);
    align-items: center;
}

.resolve-btn {
    background: rgb(219, 100, 0);
    background: linear-gradient(90deg, rgba(219, 100, 0, 1) 40%, rgba(7, 11, 1, 0.8183648459383753) 60%);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;
    color: var(--white);
}

.enableNotification {
    background: var(--yellow);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    color: var(--dark-grey);
    cursor: pointer;
}

.notification {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* admin page */
.admin-dash-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}

.sideNav {
    cursor: pointer;
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}


.sideNav:hover {
    cursor: pointer;
    text-decoration: none;
    background: var(--yellow);
    width: 100%;
    color: var(--black);
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    align-items: center;
    text-align: center;
}

.sideNav-active,
.sideNav-active:hover {
    background: var(--orange);
    color: var(--white);
    border-radius: 0.3rem;
    width: 100%;
    align-items: center;
    text-align: center;
}

.delete-btn {
    background: var(--red);
    width: 500px;
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;

}

.edit-btn {
    background: rgb(226, 189, 7);
    width: 500px;
    color: var(--black);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    align-items: center;

}

#adminContent {
    flex: 1;
    padding-bottom: 50px;
    overflow-y: auto;

}

/* Employee Details */

.user-info {
    width: 15rem;
    height: 15rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

/* Exeat Logged */
.exeat-card {
    width: 15rem;
    height: fit-content;
    margin-left: 1rem;
    margin-bottom: 1rem;

}

.exeat-icon {
    font-size: 1.3rem;
    color: var(--green);
    border-radius: 20%;
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
}






/* media queries */
@media screen and (max-width: 600px) {
    .navbar-toggler {
        display: block;
        font-size: 1rem;
        color: var(--dark-grey);
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
        margin-top: 0.1rem;
        margin-right: 1.5rem;
    }



    .register-vehicle {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
        margin-left: 0%;
        margin-bottom: 1rem;
    }

    .form-label {
        margin-top: 2rem;
    }

    #logo {
        display: none;
    }


    .formInput {
        width: 15rem;
    }

    .formInput-file {
        width: 10rem;
    }

    form>input:focus {
        border: 1px solid var(--green);
    }

    .resolve-btn {
        display: none;
    }

    #profilePic-lg-screen {
        display: none;
    }

    #profilePic-sm-screen {
        display: block;
    }

    .actionButtons-lg-screen {
        display: none !important;
    }

    .actionButtons-sm-screen {
        display: block;
    }

    .requestInputCluster {
        margin-left: 2rem;

    }

    #tripPurposeInput {
        width: 10rem;
    }

    #vehicleType {
        width: 10rem;
    }

    .record-time-label {
        display: none;
    }


    .approved-time {
        width: 5rem;
    }

    /* .exeat-name {
        width: 5rem;
        font-weight: 600;
        font-size: 1rem;
        margin-right: 1rem;
    } */

    .admin-dash-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

}


@media screen and (min-width: 600px) {
    .formInput {
        margin-right: 1rem;

    }

    .resolve-btn-2 {
        display: none;
    }

    #profilePic-sm-screen,
    .actionButtons-sm-screen {
        display: none !important;
    }
}